<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="att.iot.client.winU" version="2.0.1.0" targetFramework="win81" userInstalled="true" />
  <package id="GrovePi" version="1.0.4" targetFramework="win81" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="win81" userInstalled="true" />
</packages>